body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 5.625rem;
  color: #66BFBF;
  line-height: 1;
  margin: 50px auto 0px auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-family: 'Montserraat', sans-serif;
  font-weight: normal;
  color: #66BFBF;
  font-size: 2.5rem;
  padding-bottom: 10px;
}
.intro{
  width: 30%;
  margin: auto;
}
h3 {
  font-family: 'Montserraat', sans-serif;
  color: #11999E;
}
p{
  line-height: 2;
}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
.contact-message{
  width: 30%;
  margin: 40px auto 60px;
}


.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}
a{
  color: #11999E;
  font-family: 'Montserraat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}

.sp {
  text-decoration: underline;
}
.skill-row{
width: 50%;
margin: 100px auto 100px auto;
text-align: left;

}

.top-cloud {
  position: absolute;
  right: 200px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 230px;
  bottom: 300px;
}

.footer-link {
  color: #11999E;
}
.python{
  width: 24%;
  float: left;
  margin-right:  30px;


}
.giphy{
  width:25%;
  float: right;
  margin-right:  30px;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0px;
}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserraat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
